*{
    padding: 0;
    margin: 10px;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

nav ul li 
{
    display: inline-block
}
nav ul li a{
    color:rgb(21, 20, 20);
    font-size: 20px;
    text-decoration: uppercase;
}
.main{
    text-align: center;
    margin: 10%;
    font-size: 40px;
    font-family: sans-serif;
    color-scheme: rgb(91, 90, 90);
}
body{
    background:url("../../static/css/images/img0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: blue;
}