<!DOCTYPE html>
<html>
<head>
    <title>Doctor Appointments</title>
</head>
<body>
    <h1 style="text-align:center;color:brown;">DOCTOR APPOINTMENTS</h1>
    <table border="2">
        <tr>
            <th>Patient Name</th>
            <th>Doctor Name</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.patient.name }}</td>
                <td>{{ appointment.doctor.name }}</td>
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.time }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
